# THIS IS MADNESS: envs need to be ordered POSTGRES_DB > POSTGRES_USER > POSTGRES_PASSWORD.
# https://github.com/docker-library/postgres/issues/41#issuecomment-382925263
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=54323

GEONODE_DATABASE=geonode
GEONODE_DATABASE_PASSWORD=geonode

GEONODE_GEODATABASE=geonode_data
GEONODE_GEODATABASE_PASSWORD=geonode_data
